@font-face {
    font-family: 'OpenSans';
    font-weight: bold;
    font-style: italic;
    src: url("../fonts/OpenSans-SemiboldItalic.ttf");
}

@font-face {
    font-family: 'OpenSans';
    font-weight: bold;
    font-style: normal;
    src: url("../fonts/OpenSans-Semibold.ttf");
}

@font-face {
    font-family: 'OpenSans';
    font-weight: normal;
    font-style: italic;
    src: url("../fonts/OpenSans-LightItalic.ttf");
}

@font-face {
    font-family: 'OpenSans';
    font-weight: normal;
    font-style: normal;
    src: url("../fonts/OpenSans-Light.ttf");
}

h1 {
    font-weight: bold;
    font-style: normal;
}